<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Saved Songs</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Alice|PT+Sans+Caption|Pacifico|Quattrocento+Sans" rel="stylesheet">

</head>
<body>
<form class="logout" action="/users/profile"  accept-charset="utf-8">
    <input type="Submit" Value="Home" class="color"></a>
</form>
<br>
    <h2>Encyc-lyric-pedia</h2>
    <p><%= user.username %>'s Liked Songs:</p>
<% likes.forEach((like) => { %>
<div class="like-container">
 <h6 class="one">Song: <%= like.track %>
 </h6>
 <h6 class="two"> Artist: <%= like.artist %>
 </h6>
</div>
<form action="/save/likes/<%= like._id %>?_method=DELETE" method="post">
          <input type="submit" value="Delete" class="butt">
</form>
<% }) %>
  </div>
</body>
</html>
