<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Saved Songs</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
</head>
<body>

    <h1><%= user.username %>'s Liked Songs:</h1>
<div class="like-container">
<form action="/lyrics" method="post" accept-charset="utf-8">

</form>
<!-- <h1><%= lyrics.message.body.track_list[0].track.track_name %></h1>
<h2><%= lyrics.message.body.track_list[0].track.artist_name %></h2> -->
</div>

        <!-- <form action="/save/<%= lyrics._id %>?_method=DELETE" method="post">
          <input type="submit" value="Delete">
        </form> -->

  </div>
  <a href="/users/profile">Home</a>
</body>
</html>
