<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Alice|PT+Sans+Caption|Pacifico|Quattrocento+Sans" rel="stylesheet">
  </head>
  <body>
      <h2>Encyc-lyric-pedia</h2>

    <h4>Sign up</h4>
    <form class="yow" action="/users" method="post">
        <input type="text" name="user[username]" value="" placeholder="Username" class="use">
        <br>
        <input type="password" name="user[password]" value="" placeholder="Password" class="pass">
        <br>
        <input type="submit" value="Sign up" class="butt">
    </form>
  </body>
</html>
