<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Alice|PT+Sans+Caption|Pacifico|Quattrocento+Sans" rel="stylesheet">

  </head>
  <body>
    <form class="logout" action="/auth?_method=DELETE" method="post">
      <input type="submit" value="Logout" class="color">
</form>
<br>
    <h2>Encyc-lyric-pedia</h2>
        <p>Welcome <%= user.username %> !</p>

<form action="/lyrics" method="get" accept-charset="utf-8">
    <input class="use" type="text" name="q_track" placeholder="Enter a track name">
    <br>
    <input class="use" type="text" name="q_artist" placeholder="Enter Artist">
    <br>
    <input type="submit" value="search lyrics" class="butt">
</form>

  </body>
</html>

